* {
  all: unset; //Unsets everything so you can style everything from scratch
}

.rcorners {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #787878;
  border-radius: 25px;
}
